<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8"> 
<title>Getting Started: Serving Web Content</title>
</head>
<body>
	
	<p th:text="'Hola, ' + ${name} + '!'"/>
	
	<table>
	
		<th:block th:each="per : ${personas}">
		
			<tr>
			
				<td th:text="${per.id}"></td>
				<td th:text="${per.nombre}"></td>
			
			</tr>
		
		</th:block>
	
	</table>
	
</body>
</html>